@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Poppins', sans-serif; 
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #222327;
    --text-color: #fff;
    --main-color: #29fd53;
}

body {
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all 0.5s ease;
}

.logo {
    display: flex;
    align-items: center;
}

.logo:hover {
    scale: 1.1;
}

.logo img {
    width: 125px;
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all 0.5s ease;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

.main {
    display: flex;
    align-items: center;

}

.main a {
    margin-right: 25px;
    margin-left: 10px;
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.5s ease;
}

.main a:hover {
    color: var(--main-color);
}

.user {
    display: flex;
    align-items: center;
}

.user i {
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}    

span {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.about {
    width: 100%;
    height: 100%;
    padding: 100px 0px;
    background: var(--bg-color);
}

.about-text {
    width: 550px;
}

.about-main {
    width: 100vw;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    width: 100%;
    color: var(--text-color);
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: var(--text-color);
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: var(--text-color);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;    
}

button {
    background-color: var(--text-color);
    color: var(--bg-color);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    cursor: pointer;
}

button:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    transition: all 0.3s ease;
    scale: 115%;
}

.service {
    background: var(--bg-color);
    width: 100%;
    padding: 100px 0px;
}

.title h2 {
    color: var(--text-color);
    font-size: 75px;
    width: 100%;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;    
}      
 
.card {
    height: 100%;
    width: 335px;
    padding: 20px 35px;
    background: var(--bg-color);
    border-radius: 20px;
    margin: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: var(--main-color);
}

h5 {
    color: var(--text-color);
    font-size: 23px;
    margin-bottom: 15px;
}  

.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;    
}

.card .button {
    background-color: var(--text-color);
    color: #101010;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    cursor: pointer;
}

.card .button:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    transition: all 0.3s ease;
    scale: 115%;
}

.contact-me {
    width: 100%;
    height: 290px;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}   

.contact-me p {
    color: var(--text-color);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two {
    background-color: var(--text-color);
    color: var(--bg-color);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    cursor: pointer;
}

.contact-me .button-two:hover {
    background-color: var(--main-color);
    color: var(--text-color);
    transition: all 0.3s ease;
    scale: 115%;
}

footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

footer p:nth-child(1) {
    font-size: 30px;
    color: var(--text-color);
    margin-bottom: 20px;
    font-weight: bold;
}  

footer p:nth-child(2) {
    color: var(--text-color);
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    border-radius: 50%;
    margin: 22px 10px;
    color: var(--bg-color);
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.end {
    position: absolute;
    color: var(--main-color);
    bottom: 35px;
    font-size: 14px;
}

.end i {
    color: var(--main-color);
    bottom: 35px;
    font-size: 14px;
}

@media (max-width: 1402px) {
    header {
        padding: 14px 12%;
        transition: .2s;
    }

    .navbar a {
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1275px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 150px;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all 0.5s ease;
    }

    .navbar a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all 0.5s ease;
    }

    .navbar a:hover {
        color: var(--text-color);
        transform: translateY(5px);
    }

    .navbar a.active {
        color: var(--text-color);
    }

    .navbar.open {
        right: 2%;
        height: 250px;
    }
}

@media (max-width: 745px) {
    .box {
        display: block;
    }

    .title h2 {
        width: 400px
    }
}

@media (max-width: 483px) {
    .logo img {
        width: 80px;
    }
}

@media (max-width: 422px) {
    .logo img {
        margin-left: -40px;
    }
}